.counter__part h1 {
      background: red;
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.player__part {
      margin-top: 50px;
}

.player2, .player2btn{
      display: none;
}
